In [ ]:
from datetime import *
from dash import *
import pandas as pd
import yfinance as yf
import numpy as np

In [ ]:
start = "2016-01-01"
end = "2021-01-01"
size = 1259
short_term = 3
long_term_one = 30
long_term_two = 45
long_term_three = 60
default_nan = np.nan
day = 1
week = 5
month = 20
win_ratio = 1.05
loss_ratio = 0.95

In [26]:
def getTickers():
    ticker_files = pd.read_csv("../pre_loaded_files/tickers.csv")
    # for test use
    # todo: change to a whole list
    return ticker_files

In [27]:
ticker_names = getTickers()
ticker_names = ticker_names.drop(columns=['Company Name', 'Market Cap'])
ticker_available = pd.DataFrame(None, columns=["Symbol", "Industry"])
tickers = []

     Symbol                          Industry
0         A    Life Sciences Tools & Services
1        AA                   Metals & Mining
2       AAC                   Shell Companies
3      AACG     Diversified Consumer Services
4      AADI                     Biotechnology
...     ...                               ...
5956    ZWS         Utilities-Regulated Water
5957     ZY                         Chemicals
5958   ZYME                     Biotechnology
5959   ZYNE                   Pharmaceuticals
5960   ZYXI  Health Care Equipment & Supplies

[5961 rows x 2 columns]

In [16]:
for i in range(0, len(ticker_names)):
    print(i)
    ticker_symbol = ticker_names.iloc[i]['Symbol']
    ticker = yf.Ticker(ticker_symbol)
    ticker_history = ticker.history(start=start, end=end)
    ticker_industry = ticker.info['industry']
    if len(ticker_history) == size:
        ticker_available.loc[len(ticker_available.index)] = [ticker_symbol, ticker_industry]
        ticker_history.to_csv("../tickers_history/" + ticker_symbol + ".csv")

,Symbol,Company Name,Industry,Market Cap
0,A,Agilent Technologies,Life Sciences Tools & Services,46.75B
1,AA,Alcoa,Metals & Mining,10.45B
2,AAC,Ares Acquisition,Shell Companies,1.22B
3,AACG,ATA Creativity Global,Diversified Consumer Services,81.78M
4,AADI,Aadi Bioscience,Biotechnology,549.15M
5,AAIC,Arlington Asset Investment,Mortgage Real Estate Investment Trus...,128.49M
6,AAL,American Airlines,Airlines,13.04B
7,AAMC,Altisource Asset Management,Real Estate Management & Development,49.25M
8,AAME,Atlantic American,Insurance,85.99M
9,AAN,The Aaron's Company,Specialty Retail,923.98M
10,AAOI,Applied Optoelectronics,Communications Equipment,192.98M