In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from dateutil import parser

start = "2018-01-01"
end = "2021-01-01"
buy_ledger = pd.DataFrame(None, columns=['Time', 'PnL'])
buy_blotter = pd.read_csv("../output/buy_blotter.csv")
sell_ledger = pd.DataFrame(None, columns=['Time', 'PnL'])
sell_blotter = pd.read_csv("../output/sell_blotter.csv")

In [2]:
start_time = int((dt.datetime(2018,1,1) - dt.datetime(1970,1,1)).total_seconds())
end_time = int((dt.datetime(2021,1,1) - dt.datetime(1970,1,1)).total_seconds())
buy_blotter = buy_blotter[buy_blotter['start_time'] >= start_time].reset_index(drop=True)
sell_blotter = sell_blotter[sell_blotter['start_time'] >= start_time].reset_index(drop=True)

In [3]:
timeline = []
for time in range(start_time, end_time + 86400, 86400):
    timeline.append(time)
buy_ledger['Time'] = timeline
buy_ledger['PnL'] = 0.00
sell_ledger['Time'] = timeline
sell_ledger['PnL'] = 0.00

In [4]:
buy_ledger

            Time  PnL
0     1514764800  0.0
1     1514851200  0.0
2     1514937600  0.0
3     1515024000  0.0
4     1515110400  0.0
...          ...  ...
1092  1609113600  0.0
1093  1609200000  0.0
1094  1609286400  0.0
1095  1609372800  0.0
1096  1609459200  0.0

[1097 rows x 2 columns]

In [4]:
for index in range(0, len(buy_blotter.index)):
    if index%10000 == 0:
        print(1)
    order = buy_blotter.loc[index]
    order_start = order['start_time']
    order_end = order['end_time']
    daily_return = order['daily return']
    for time in range(order_start + 86400, order_end + 86400, 86400):
        buy_ledger.loc[buy_ledger['Time'] == time, 'PnL'] = buy_ledger.loc[buy_ledger['Time'] == time, 'PnL'] + daily_return
buy_ledger.to_csv("../output/buy_ledger.csv")

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [7]:
sell_ledger

            Time  PnL
0     1514764800  0.0
1     1514851200  0.0
2     1514937600  0.0
3     1515024000  0.0
4     1515110400  0.0
...          ...  ...
1092  1609113600  0.0
1093  1609200000  0.0
1094  1609286400  0.0
1095  1609372800  0.0
1096  1609459200  0.0

[1097 rows x 2 columns]

In [8]:
for index in range(0, len(sell_blotter.index)):
    if index%10000 == 0:
        print(1)
    order = sell_blotter.loc[index]
    order_start = order['start_time']
    order_end = order['end_time']
    daily_return = order['daily return']
    for time in range(order_start + 86400, order_end + 86400, 86400):
        sell_ledger.loc[sell_ledger['Time'] == time, 'PnL'] = sell_ledger.loc[sell_ledger['Time'] == time, 'PnL'] + daily_return
sell_ledger.to_csv("../output/sell_ledger.csv")

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1